<!DOCTYPE html>
<html lang="en">
<head>  
    <%- include('partials/heads') %>
</head>
    <body>
    <%- include('partials/header') %>
    </body>
    <%- include('partials/hero') %>
    <%- include('partials/aboutus') %>
    <%- include('partials/why') %>
    <%- include('partials/service') %>
    <%- include('partials/faq') %>
    <%- include('partials/footer') %>
    <%- include('partials/script') %>
    </body>
</html>
